.clipboard-record{
    display: flex;
    align-items: stretch;
}
.clipboard-record>button{
    padding: 1em .5em;
}
.clipboard-record>textarea{
    flex-grow: 1;
    resize: none;
    max-height: 5em;
    overflow: auto;
}
.clipboard{
    min-width: 15em;
    flex-grow: 1;
    margin: 0 2em;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.clipboard>textarea{
    resize: none;
    height: 10em;
}
.clipboard>ul{
    display: flex;
    justify-content: stretch;
    flex-grow: 1;
    flex-direction: column;
    list-style: none;
    padding: 0;
}