.clipboard-record{
    min-width: 15em;
    
}

.clipboard{
    flex-grow: 1;
    margin: 0 2em;
}

.clipboard>textarea{
    resize: none;
    width: 100%;
    height: 10em;
}
.clipboard>ul{
    display: flex;
    flex-direction: column-reverse;
}